@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply text-title font-extrabold
}

h3 {
    @apply text-subtitle font-medium text-slate-400
}

.tag {
    @apply p-1 rounded-lg bg-slate-200 text-slate-700
}

#root {
  block-size: 100vh;
}

.font-link {
  font-family: 'Poppins', sans-serif;
}

ion-icon {
  font-size: 4rem;
}

/* loading animation */
@keyframes spinner {
  to  {
      transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top:  10rem;
  border-radius: 50%;
  border: 8px solid #000;
  border-top-color: #846bf5;
  animation: spinner .6s linear infinite;
}

@media (max-width: 768px) {
  .timeline {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
}

@media (min-width: 768px) {
  .timeline {
    content: '';
  }
  
  #child {
    position: relative;
    margin: 1rem;
  }
  
  #child:nth-child(odd) {
    float: left;
  }
  
  #child:nth-child(odd)::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    background: rgb(79 70 229);
    inline-size: 1rem;
    block-size: 1rem;
    left: -1.55rem;
    top: .5rem;
  }
  
  #child:nth-child(even) {
    float: right;
  }
  
  #child:nth-child(even)::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    background: rgb(79 70 229);
    inline-size: 1rem;
    block-size: 1rem;
    right: -1.5rem;
    top: .5rem;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    inline-size: 22rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
  }
}